@import url('http://fonts.cdnfonts.com/css/jk-abode');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
.login_frame{
    position: relative;
    width: 1000px;
    top: 10%;
    margin: auto;
}
.LogIn {
    margin: 0 auto;
    padding: 0px 0 160px;
    width: 400px;
}
.LogIn p {
    font-family: 'JK Abode', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
}
.signin_form input{
    width: 400px;
    height: 30px;
    padding: 25px 0px 25px 0px;
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
    -webkit-text-fill-color: rgb(0 0 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
}
.signin_form button{
    position: relative;
    margin : auto;
    cursor:pointer;
    margin: 10px;
    width: 400px;
    height: 52px;
    border-radius: 12px;
    background-color: #ffd910;
    border: none;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;

}
ul.btns {
    margin-top: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    padding: 0;
}
.btns li {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    flex: 1;
}
a.look_link {
    margin: auto;
    padding: 0 10px;
    display: -webkit-inline-box;
    display: inline-flex;
    font-size: 13px;
    letter-spacing: -.07px;
    text-decoration: none;
    color: black;
}
.social_login {
    margin-top: 40px;
}
.GoogleButton {
    cursor:pointer;
    margin: auto;
}
.GoogleButton button, .GoogleButton span {
    width : 400px;
}

/*input:focus {
    outline:none;
}*/